/* LOADER */

@font-face {
  font-family: 'Beautiful';
  src: url('../fonts/BDScript-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gulfs';
  src: url('../fonts/gulfs-display-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-family-gulfs{
    font-family: 'Gulfs', sans-serif !important;
    color: white;
    font-size: 150px !important;
}

.font-format {
  font-family: 'Beautiful', sans-serif !important;
  color: #deb425;
  font-size: 100px !important;
  letter-spacing: 3px;
}

.font-family {
  font-family: 'Beautiful', sans-serif !important;
  letter-spacing: 3px;
  font-size: 80px !important;
}
.f-90{
   font-size:120px !important;
   font-weight: 500;
   letter-spacing: 1px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Crimson Pro", serif; */
}

.logo-container {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.8s ease;
}

.btn-custom {
  border-bottom: 1px solid #deb425 !important;
  border-radius: 0;

}

.btn-custom:hover {
  border-bottom: 1px solid white !important;
  color: white !important;
}

.btn-custom:hover a {

  color: white !important;
}

.btn-custom a {
  font-size: 16px;
  color: #deb425 !important;
} 


.logo-container img {
  width: 180px;
  max-width: 60vw;
}

.logo-container.hidden {
  opacity: 0;
  pointer-events: none;
}

/* ROTATION */
.rotate-animation {
  animation: rotateFlower 2s linear forwards;
}

@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body.loading {
  overflow: hidden;
}
body{
  background-color: black;
}

h1 {
  font-size: 80px !important;
  font-weight: 900 !important;
}

p {
  font-size: 20px !important;
  font-weight: 400 !important;
}

/* MENU HIDE/SHOW */
.restaurant-menu {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.restaurant-menu.visible {
  opacity: 1;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

/* .nav-link {
  color: white;
  font-weight: bold;
  font-size: 22px;
} */

.custom-border{
  border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF1F;
}

.nav-link {
  color: white;
  
}

.nav-link:hover {
  color: #deb425 !important;
}

.menu-link {
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
}

.active-menu {
  border-bottom: 2px solid #deb425 !important;
}

/*menu*/



.menu-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #7a7a7a;
  padding-bottom: 8px;
  margin-top: 15px;
}

.item-name {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
}


.item-price {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.item-desc {
  font-size: 0.9em;
  color: rgb(216, 209, 209);
  margin-bottom: 10px;
}

.image-container {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay-text {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  text-transform: uppercase;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 10px 30px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  z-index: 10;
  transition: opacity 0.8s ease;
}

.logo-container img {
  width: 40vw;
  max-width: 400px;
}

.logo-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.rotate-animation {
  animation: rotateFlower 2s linear forwards;
}

@keyframes rotateFlower {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.restaurant-menu.visible {
  opacity: 1;
  pointer-events: auto;
}


.legend-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #929191;
   border-bottom: 1px solid #929191;
  font-size: 0.95rem;
  text-align: center;
  
  bottom: 0;
  align-items: center;
  flex-direction: column;
  /* z-index: 1000; */
  width: 100%;
}

.allergens {
  display: flex;
  gap: 0.25rem;
}

.badge {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  padding: 0.1rem 0.35rem;
  line-height: 1;
}

/* Color codes to match legend */
.badge.vegetarian {
  background-color: #4caf50;
  /* green */
}

.badge.nuts {
  background-color: #b5651d;
  /* brown */
}

.badge.gluten {
  background-color: #e67e22;
  /* orange */
}

.badge.dairy {
  background-color: #3498db;
  /* blue */
}

.legend-item {
  font-weight: 600;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  color: #fff;
}

.legend-item.vegetarian {
  background-color: #4caf50;
  /* green */
}

.legend-item.nuts {
  background-color: #b5651d;
  /* brown */
}

.legend-item.gluten {
  background-color: #e67e22;
  /* orange */
}

.legend-item.dairy {
  background-color: #3498db;
  /* blue */
}

.image-box {
  width: 100%;
  height: 500px; /* same height for all */
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crops while keeping proportions */
  display: block;
}

/* home */


.hero {
  height: 80vh;
  background: url("../assets/rest.PNG") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;

  color: white;
  font-size: 80px !important;
  font-weight: 900;
  line-height: normal;
  overflow: hidden;
}

/* DARK OVERLAY */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.hero .overlay {
  position: relative;
  z-index: 2;
}



/*last section */
.split-section {
  display: flex;
  height: 600px;
  background: #0b0b12;
}

.panel {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease;
  cursor: pointer;
  padding: 40px;
}

.panel::before {
  content: "";
  position: absolute;
  inset: 0;

  background-size: cover;
  background-position: center;

  opacity: 0;
  transition: opacity 0.6s ease;
  z-index: 1;
}

.visit {
  background-color: #1C1A20 !important;
}

.reservation {
  background-color: #100f13 !important;
}

.visit::before {
  background:
    linear-gradient(rgba(0, 0, 0, .75),
      rgba(0, 0, 0, .75)),
    url("../assets/rest-garden.PNG");

  background-size: cover;
  background-position: center;
}

.hero .overlay{
  align-items: flex-start !important;
  text-align: left;
}

.reservation::before {
  background:
    linear-gradient(rgba(0, 0, 0, .75),
      rgba(0, 0, 0, .75)),
    url("../assets/rest.PNG");

  background-size: cover;
  background-position: center;
}

.panel::after {
  content: "";
  position: absolute;
  inset: 0;

  z-index: 2;
}

.overlay {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}

.split-section:hover .panel {
  flex: 0.9;
}

.split-section .panel:hover {
  flex: 1.1;
}

.panel:hover::before {
  opacity: 1;
}

.subtitle {
  color: #deb425;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 20px;
}

.panel h2 {

  font-size: 44px;
  color: white !important;
  font-weight: 900;
}

.panel h4 {
  margin-top: 35px;
  margin-bottom: 20px;
  font-weight: 700;
}

.panel p {
  line-height: 1.8;
  max-width: 500px;
}

/* .panel a {
  color: white;
  text-decoration: none;
  margin-top: 30px;
  position: relative;
  font-weight: 600;
} */

/* .panel a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background: #c68a2f;
} */


/*layering images*/
.image-stack {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.img-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-stack::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.img-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 550px;
}

h2 {
  color: #deb425;
  text-transform: uppercase;
}


@media (max-width: 576px) {

  .menu-link {
    font-size: 20px !important;
  }
  .menu-link img{
    height: 50px !important;
  }
  .hero{
    font-size: 60px !important;
  }
  .font-family{
    font-size: 60px !important;
  }
  .img-front{
    width: 400px !important;
  }
   .image-stack{
    height: 400px !important;
  }
  .split-section{
    display: block !important;
  }
  .font-family-gulfs{
    font-size: 100px !important;
  }
}



/*menu tabs*/

.nav-pills .nav-link {
  background: transparent;
  color: #fff;
  margin: 0 8px;
  padding: 0px 30px;
  border-radius: 0;
  transition: 0.3s;
  line-height: normal;


}

.nav-pills .nav-link.active {
  background: none;
  color: #deb425;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  color: #fff;
  font-size: 18px;
}